.Footer {
    background: #eeeae6;;
    color: #e83a4b;
    padding: 48px;
}

.Footer .container {
    grid-gap: 1rem;
    align-items: baseline;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.Footer h3 {
    margin-bottom: .5rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.Footer img {
    margin-top: 1rem;
}

.Footer img {
    transition: transform .3s ease;
    width: 5rem;
}

.Footer p {
    font-size: 1.1rem;
    font-weight: 100;
}

.Footer ul {
    list-style: none;
}

.Footer a {
    font-size: 1.1rem;
    font-weight: 600;
}

.Footer a:hover {
    text-decoration: underline;
}

.Footer span {
    font-size: 0.8rem;
}

.socialLinks {
    text-align: center;
}

.divLinks {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}

.social {
    width: 18%;
}

.social2 {
    width: 22%;
}

.Footer .container>:last-child {
    font-size: .75rem !important;
    grid-column: 1 / 5;
    text-align: center;
}