.container {
    display: flex;
    width: auto;
    margin-left: 20px;
}

.container input {
    width: 300px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 5px;
    margin-right: 10px;
    border: none;
    outline: 2px solid gray;
}

.container input:hover {
    outline: 2px solid rgb(0, 115, 202);
}

.container button {
    width: 80px;
    border-radius: 5px;
    color: white;
    background-color: rgb(197, 31, 31);
    border: none;
    outline: 2px solid rgb(197, 31, 31);
    cursor: pointer;
}
